@import '../../styles/colorPalette.scss';

.appContainer {
  text-align: center;
  background-color: $mainBackground;
  min-height: 100vh;

  &__header {
    padding: 2rem;
    color: $mainHighlight;
  }

  &__footer {
    background-color: $mainHighlight;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
    padding: 3px 0;
  }
}
